@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");

@import "variables";
@import "~bootstrap/scss/bootstrap";

* {
    font-family: "Baloo Bhaijaan 2", cursive;
}
body #app main{
    min-height: 100%;
}
form {
    width: 100%;
}
label {
    font-weight: bold;
}
footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: white;
    display: none;
}
.form-row {
    display: flex;
}
.form-group {
    margin: 0.8rem 0 0.8rem 0;
}

.container {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 4rem;
    min-height: 100vh;
}
.container-form {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 4rem;
    //min-height: 100vh;
}
.btn-primary {
    width: 50%;
}
.error {
    border: 1px solid #c3423f !important;
}
.error-text {
    color: #c3423f !important;
}
.success {
    border: 1px solid #00bfa6 !important;
}
.success-text {
    color: #00bfa6 !important;
}
input:focus, .form-control:focus{
    border-color: #00BFA6 !important;
}
.justify-content-center {
    width: 50rem;
}

.container-left {
    width: 100%;
}
.container-right {
    width: 100%;
}
@media (max-width: 767px) {
    .form-row {
        display: block;
    }
    .container, .container-form {
        display: block;
        box-shadow: none;
        padding: 1.5rem;
    }
    
    .btn-primary {
        width: 100%;
    }
    .container-right {
        display: none;
    }
}

.btn-primary {
    color: #fff;
    background-color: #00BFA6;
    border-color: #00BFA6;
}

.btn-primary:hover {
    color: #fff;
    background-color: #00BFA6;
    border-color: #00BFA6;
    border-width: 2px;
}

